<div>
  <div>
    <br>
    <input type="file" #file (change)="uploadFile(file.files)" placeholder="Upload file" accept=".txt"> <br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="test.frequencyMonobitCheck">Frequency Monobit
      <input type="number" name="quantity" [(ngModel)]="test.frequencyMonobit" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="test.frequencyTestWithinBlockCheck">Frequency Test Within a Block
      <input type="number" name="quantity" [(ngModel)]="test.frequencyTestWithinBlock" value="">
      <span>M</span> <input type="number" name="quantity" [(ngModel)]="test.frequencyTestWithinBlockM" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="test.runsCheck">Runs
      <input type="number" name="quantity" [(ngModel)]="test.runs" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="test.longestRunOfOnesInBlockCheck">Longest Run of Ones in a Block
      <input type="number" name="quantity" [(ngModel)]="test.longestRunOfOnesInBlock" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="test.binaryMatrixRankCheck">Binary Matrix Rank
      <input type="number" name="quantity" [(ngModel)]="test.binaryMatrixRank" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="test.discreteFourierTransformCheck">Discrete Fourier Transform (Spectral)
      <input type="number" name="quantity" [(ngModel)]="test.discreteFourierTransform" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="test.nonOverlappingTemplateMatchingCheck">Non Overlapping Template Matching
      <input type="number" name="quantity" [(ngModel)]="test.nonOverlappingTemplateMatching" value="">
      <span>Single</span> <input type="checkbox" name="checkbox" [(ngModel)]="test.nonOverlappingTemplateMatchingSingle" /> 
      <span *ngIf="!test.nonOverlappingTemplateMatchingSingle">M <input type="number" name="quantity" [(ngModel)]="test.nonOverlappingTemplateMatchingM" value=""></span> 
      <span *ngIf="test.nonOverlappingTemplateMatchingSingle">B <input type="number" name="quantity" [(ngModel)]="test.nonOverlappingTemplateMatchingB" value=""></span>
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="test.overlappingTemplateMatchingCheck">Overlapping Template Matching
      <input type="number" name="quantity" [(ngModel)]="test.overlappingTemplateMatching" value="">
      <span>B</span> <input type="number" name="quantity" [(ngModel)]="test.overlappingTemplateMatchingB" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="test.universalCheck">Universal
      <input type="number" name="quantity" [(ngModel)]="test.universal" value="">
      <span>Custom</span> <input type="checkbox" name="checkbox" [(ngModel)]="test.universalCustom" /> 
      <span *ngIf="test.universalCustom">L <input type="number" name="quantity" [(ngModel)]="test.universalL" value=""></span> 
      <span *ngIf="test.universalCustom">Q <input type="number" name="quantity" [(ngModel)]="test.universalQ" value=""></span>
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="test.linearComplexityCheck">Linear Complexity
      <input type="number" name="quantity" [(ngModel)]="test.linearComplexity" value="">
      <span>M</span> <input type="number" name="quantity" [(ngModel)]="test.linearComplexityM" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="test.serialCheck">Serial
      <input type="number" name="quantity" [(ngModel)]="test.serial" value="">
      <span>M</span> <input type="number" name="quantity" [(ngModel)]="test.serialM" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="test.approximateEntropyCheck">Approximate Entropy
      <input type="number" name="quantity" [(ngModel)]="test.approximateEntropy" value="">
      <span>M</span> <input type="number" name="quantity" [(ngModel)]="test.approximateEntropyM" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="test.cumulativeSumsCheck">Cumulative Sums
      <input type="number" name="quantity" [(ngModel)]="test.cumulativeSums" value="">
      <input type="checkbox" name="quantity" [(ngModel)]="test.cumulativeSumsForward" value="">Forward
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="test.randomExcursionsCheck">Random Excursions
      <input type="number" name="quantity" [(ngModel)]="test.randomExcursions" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="test.randomExcursionsVariantCheck">Random Excursions Variant
      <input type="number" name="quantity" [(ngModel)]="test.randomExcursionsVariantCheck" value="">
    </label><br>

    Select a split character:
    <select [(ngModel)]="test.splitCharacter">
      <option value=",">,</option>
      <option value=".">.</option>
      <option value=";">;</option>
      <option value="|">|</option>
      <option value=" "> </option>
      <option value="/">/</option>
      <option value="#">#</option>
      <option value="\r\n">\r\n</option>
    </select><br>

    <button (click)="runTests()">Run tests</button> <br>

  </div>
</div>
