<div>
  <div>
    <br>
    <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".txt"> <br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="report.frequencyMonobitCheck">Frequency Monobit
      <input type="number" name="quantity" [(ngModel)]="report.frequencyMonobit" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="report.frequencyTestWithinBlockCheck">Frequency Test Within a Block
      <input type="number" name="quantity" [(ngModel)]="report.frequencyTestWithinBlock" value="">
      <span>M</span> <input type="number" name="quantity" [(ngModel)]="report.frequencyTestWithinBlockM" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="report.runsCheck">Runs
      <input type="number" name="quantity" [(ngModel)]="report.runs" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="report.longestRunOfOnesInBlockCheck">Longest Run of Ones in a Block
      <input type="number" name="quantity" [(ngModel)]="report.longestRunOfOnesInBlock" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="report.binaryMatrixRankCheck">Binary Matrix Rank
      <input type="number" name="quantity" [(ngModel)]="report.binaryMatrixRank" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="report.discreteFourierTransformCheck">Discrete Fourier Transform (Spectral)
      <input type="number" name="quantity" [(ngModel)]="report.discreteFourierTransform" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="report.nonOverlappingTemplateMatchingCheck">Non Overlapping Template Matching
      <input type="number" name="quantity" [(ngModel)]="report.nonOverlappingTemplateMatching" value="">
      <span>Single</span> <input type="checkbox" name="checkbox" [(ngModel)]="report.nonOverlappingTemplateMatchingSingle" /> 
      <span *ngIf="!report.nonOverlappingTemplateMatchingSingle">M <input type="number" name="quantity" [(ngModel)]="report.nonOverlappingTemplateMatchingM" value=""></span> 
      <span *ngIf="report.nonOverlappingTemplateMatchingSingle">B <input type="number" name="quantity" [(ngModel)]="report.nonOverlappingTemplateMatchingB" value=""></span>
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="report.overlappingTemplateMatchingCheck">Overlapping Template Matching
      <input type="number" name="quantity" [(ngModel)]="report.overlappingTemplateMatching" value="">
      <span>B</span> <input type="number" name="quantity" [(ngModel)]="report.overlappingTemplateMatchingB" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="report.universalCheck">Universal
      <input type="number" name="quantity" [(ngModel)]="report.universal" value="">
      <span>Custom</span> <input type="checkbox" name="checkbox" [(ngModel)]="report.universalCustom" /> 
      <span *ngIf="report.universalCustom">L <input type="number" name="quantity" [(ngModel)]="report.universalL" value=""></span> 
      <span *ngIf="report.universalCustom">Q <input type="number" name="quantity" [(ngModel)]="report.universalQ" value=""></span>
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="report.linearComplexityCheck">Linear Complexity
      <input type="number" name="quantity" [(ngModel)]="report.linearComplexity" value="">
      <span>M</span> <input type="number" name="quantity" [(ngModel)]="report.linearComplexityM" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="report.serialCheck">Serial
      <input type="number" name="quantity" [(ngModel)]="report.serial" value="">
      <span>M</span> <input type="number" name="quantity" [(ngModel)]="report.serialM" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="report.approximateEntropyCheck">Approximate Entropy
      <input type="number" name="quantity" [(ngModel)]="report.approximateEntropy" value="">
      <span>M</span> <input type="number" name="quantity" [(ngModel)]="report.approximateEntropyM" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="report.cumulativeSumsCheck">Cumulative Sums
      <input type="number" name="quantity" [(ngModel)]="report.cumulativeSums" value="">
      <input type="checkbox" name="quantity" [(ngModel)]="report.cumulativeSumsForward" value="">Forward
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="report.randomExcursionsCheck">Random Excursions
      <input type="number" name="quantity" [(ngModel)]="report.randomExcursions" value="">
    </label><br>
    <label>
      <input type="checkbox" name="checkbox" [(ngModel)]="report.randomExcursionsVariantCheck">Random Excursions Variant
      <input type="number" name="quantity" [(ngModel)]="report.randomExcursionsVariantCheck" value="">
    </label><br>

    Select a split character:
    <select [(ngModel)]="report.splitCharacter">
      <option value=",">,</option>
      <option value=".">.</option>
      <option value=";">;</option>
      <option value="|">|</option>
      <option value=" "> </option>
      <option value="/">/</option>
      <option value="#">#</option>
      <option value="\r\n">\r\n</option>
    </select><br>

    <button (click)="runTests()">Run tests</button> <br>

  </div>
</div>
